.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
}

.card__title {
  line-height: 1.2;
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  max-width: 350px;
}

.card__delete-button {
  border: none;
  width: 23px;
  height: 20px;
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: transparent;
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image 0.3s ease;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/deletehover.svg);
}

.card__like-button {
  border: none;
  width: 23px;
  height: 20px;
  background-color: transparent;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 40%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button-liked {
  background-color: transparent;
  background-image: url(../images/heartliked.svg);
  opacity: 100%;
}

.card__like-button-liked:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 235px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
