.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.3s ease;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: white;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-image: url(../images/close.svg);
  background-color: white;
}

.modal__close-btn:hover {
  cursor: pointer;
  background-image: url(../images/closehover.svg);
}

.modal__title {
  margin: 4px 0 36px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input {
  padding: 16px 12px;
  font-size: 20px;
  line-height: 1;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 1);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.modal__preview-image {
  max-width: 80vh;
  max-height: 80vh;
  border-radius: 4px;
  width: calc(100% - 52.5px);
  object-fit: content;
}

.modal__content {
  position: relative;
}

.modal__preview-image-close-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  top: 0;
  background-image: url(../images/closepreview.svg);
  background-color: white;
  background-color: transparent;
  transition: opacity 0.5s linear;
  position: absolute;
  margin-left: 12.5px;
  cursor: pointer;
  right: 0;
}

.modal__preview-image-close-btn:hover {
  opacity: 0.4;
}

.modal__preview-image-title {
  margin-top: 8px;
  padding: 4px 8px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  background-color: #212121;
  border-radius: 8px;
  width: fit-content;
}

.modal__button_disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.modal__input_type_error {
  border-color: red;
}

.modal__error_visible {
  color: red;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    margin: 10px 0 34px;
    font-size: 20px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
  }
  .modal__input {
    font-size: 16px;
    line-height: 1;
  }
  .profile__add-card-btn {
    width: 100%;
    justify-content: center;
  }
  .modal__preview-image {
    max-width: 80vh;
    max-height: 80vh;
  }
  .modal-preview-image {
    padding: 0 16px;
  }
  .modal__preview-image {
    width: calc(100%);
  }
  .modal__preview-image-close-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-bottom: 8px;
    top: 0;
    right: 0;
  }
}
